<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href= "/css/nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
    
    <%- include('../partials/nav')  %> 
    <div id="main">
        <div class="action">
            <a href="/history/create">Create History</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th style="width: 5%;">Id</th>
                    <th style="width: 5%;">UserId</th>
                    <th style="width: 5%">Win</th>
                    <th style="width: 5;">Draw</th>
                    <th style="width: 5%;">Lose</th>
                    <th style="width: 5%;">WDL</th>
                    <th style="width: 50%;">Last Play At</th>
                    <th style="width: 10%;">Update</th>
                    <th style="width: 10%;">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for( let i = 0; i < data.length; i++ ) { %>
                    <tr>
                        <td style="width: 5%;"><%= data[i].historyId %></td>
                        <td style="width: 5%;"><%= data[i].userId %></td>
                        <td style="width: 5%"><%= data[i].win %></td>
                        <td style="width: 5%;"><%= data[i].draw %></td>
                        <td style="width: 5%;"><%= data[i].lose %></td>
                        <td style="width: 5%;"><%= data[i].wdl %></td>
                        <td style="width: 50%;"><%= data[i].lastPlayAt %></td>
                        <td style="width: 10%;"><a href="/history/update/<%= data[i].historyId %>">Update</a></td>
                        <td style="width: 10%;"><a href="/history/delete/<%= data[i].historyId %>">Delete</a></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    
</body>
</html>