<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href= "/css/nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>Dashborad</title>
</head>
<body>
    <%- include('../partials/nav')  %> 
    <h1 id="form-title">Update History</h1>
    <div class="content-wrap">
        <% if (message) { %>
            <div id="message">
                <p><%= message %></p>
                <i class="bi bi-x"></i>
            </div>
        <% } %>
        <div id="form-wrap">
            <form action="/history/update/<%= id %>" method="post">
                <div class="input-wrap">
                    <i class="bi bi-person"></i>
                    <input type="number" value="<%= userId %>" name="userId" placeholder="User Id">
                </div>
                <div class="input-wrap">
                    <i class="bi bi-emoji-smile"></i>
                    <input type="number" value="<%= win %>" name="win" placeholder="Win ditambah dengan">
                </div>
                <div class="input-wrap">
                    <i class="bi bi-emoji-neutral"></i>
                    <input type="number" value="<%= draw %>" name="draw" placeholder="Draw ditambah dengan">
                </div>
                <div class="input-wrap">
                    <i class="bi bi-emoji-frown"></i>
                    <input type="number" value="<%= lose %>" name="lose" placeholder="Lose ditambah dengan">
                </div>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>

    <script src="/js/form.js"></script>
</body>
</html>