<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/meta') %>
    <title>Profil</title>
    <link rel="stylesheet" href="css/profil.css">
</head>
<body> 
    <%- include('./partials/navbar', {login: true, username: user.username}) %>
    <div class="card-wrap">
        <div class="head">
          <img src="https://divedigital.id/wp-content/uploads/2021/10/1-min.png" alt="">
        </div>
        <div class="body">
            <h1 class="username"><%= user.username %> </h1>
            <form action="/api/v1/bio" id="bio-form" method="POST">
                <label for="bio">Bio:</label>
                <textarea name="bio" id="bio" cols="5" rows="6" maxlength="150" disabled><%= user.bio %></textarea>
            </form>
            <div class="action">
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">delete account</button>
                <button type="submit" id="edit-bio">edit bio</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              Yakin mau dihapus?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="/api/v1/delete" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
    </div>
    
    <%- include('./partials/footer') %>
    <script src="js/profil.js"></script>
</body>
</html>