<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/meta')  %> 
    <link rel="stylesheet" href="css/rank.css">
    <title>Rank</title>
</head>
<body>
    <%- include('./partials/navbar', {login, username}) %>
    <div id="rank">
        <h1>Ranking</h1>
        <table>
            <thead>
                <tr>
                    <td>Rank</td>
                    <td>Nama</td>
                    <td>Win</td>
                    <td>Lose</td>
                    <td>W/L</td>
                </tr>
            </thead>
            <tbody>
                <% for( let i = 0; i < users.length; i++ ) { %>
                    <tr <% if (username === users[i].username) { %>class='aktif'<% } %>>
                        <td><%= i + 1 %></td>
                        <td><%= users[i].username %></td>
                        <td><%= users[i].score.win %></td>
                        <td><%= users[i].score.lose %></td>
                        <td><%= users[i].score.winPerLose %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>