<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href= "/css/nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>Dashborad</title>
</head>
<body>
    <%- include('../partials/nav')  %> 
    <h1 id="form-title">Update Data User</h1>
    <div class="content-wrap">
        <% if (message) { %>
            <div id="message">
                <p><%= message %></p>
                <i class="bi bi-x"></i>
            </div>
        <% } %>
        <div id="form-wrap">
            <form action="/biodata/update/<%= id %>" method="post">
                <div class="input-wrap">
                    <i class="bi bi-person"></i>
                    <input type="number" value="<%= data.userId %>" name="userId" placeholder="User Id">
                </div>
                <div class="input-wrap">
                    <i class="bi bi-person"></i>
                    <input type="text" value="<%= data.firstName %>" name="firstName" placeholder="First Name" maxlength="25">
                </div>
                <div class="input-wrap">
                    <i class="bi bi-person"></i>
                    <input type="text" value="<%= data.lastName %>" name="lastName" placeholder="Last Name" maxlength="25">
                </div>
                <div class="input-wrap">
                    <i class="bi bi-activity"></i>
                    <input type="date" value="<%= data.birthDay %>" name="birthDay" placeholder="Birth Day" maxlength="25">
                </div>
                <div class="gender-wrap">
                    <div>
                        <input type="radio" value="Female" name="gender" id="female" <% if (data.gender === 'Female') { %>
                         checked
                        <% } %>>
                        <label for="female">Female</label>
                    </div>
                    <div>
                        <input type="radio" value="Male" name="gender" id="male" <% if (data.gender === 'Male') { %>
                         checked
                        <% } %>>
                        <label for="male">Male</label>
                    </div>
                </div>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>

    <script src="/js/form.js"></script>
</body>
</html>